/**
* Aviso:
*	Aqui irá todos os estilos dos elementos do site evite adicionar
*	códigos de estilos dentro de elementos ou no próprio corpo do HTML,
*	exemplo no dentro do body ou head, isso dificulta o trabalho da sua equipe.
*/

/* Estilos dos textos */
.row > div {
    padding: 5px;

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body {
	background: #bdc3c7;
	color: #000;
	font: 16px/1.5em "Varela Round", sans-serif;
  	margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.btn {
	width:256px;
	height: 256px;
	padding-top: 80px;	
}

.glyphicon {
	font-size: 80px;
	margin-bottom: 16px;
}

.footer {
  position: absolute;
  min-height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #EEEEEE;
}

.footer p {
	margin-top: 15px;
	
>>>>>>> 864e43825d072a8d7b479591d58e1c7400e9357c
}
